<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rendezVous">
            <h2><span jhiTranslate="firstCaringApp.rendezVous.detail.title">Rendez Vous</span> {{ rendezVous.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firstCaringApp.rendezVous.codePatient">Code Patient</span></dt>
                <dd>
                    <span>{{ rendezVous.codePatient }}</span>
                </dd>
                <dt><span jhiTranslate="firstCaringApp.rendezVous.codePS">Code PS</span></dt>
                <dd>
                    <span>{{ rendezVous.codePS }}</span>
                </dd>
                <dt><span jhiTranslate="firstCaringApp.rendezVous.debutRV">Debut RV</span></dt>
                <dd>
                    <span>{{ rendezVous.debutRV }}</span>
                </dd>
                <dt><span jhiTranslate="firstCaringApp.rendezVous.finRV">Fin RV</span></dt>
                <dd>
                    <span>{{ rendezVous.finRV }}</span>
                </dd>
                <dt><span jhiTranslate="firstCaringApp.rendezVous.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ rendezVous.createdAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rendez-vous', rendezVous.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
