<div>
    <h2 id="page-heading">
        <span jhiTranslate="firstCaringApp.rendezVous.home.title">Rendez Vous</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rendez-vous" [routerLink]="['/rendez-vous/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firstCaringApp.rendezVous.home.createLabel">
            Create a new Rendez Vous
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rendezVous?.length === 0">
        <span jhiTranslate="firstCaringApp.rendezVous.home.notFound">No rendezVous found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rendezVous && rendezVous.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePatient"><span jhiTranslate="firstCaringApp.rendezVous.codePatient">Code Patient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePS"><span jhiTranslate="firstCaringApp.rendezVous.codePS">Code PS</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="debutRV"><span jhiTranslate="firstCaringApp.rendezVous.debutRV">Debut RV</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finRV"><span jhiTranslate="firstCaringApp.rendezVous.finRV">Fin RV</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="firstCaringApp.rendezVous.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let rendezVous of rendezVous ;trackBy: trackId">
                    <td><a [routerLink]="['/rendez-vous', rendezVous.id, 'view']">{{ rendezVous.id }}</a></td>
                    <td>{{ rendezVous.codePatient }}</td>
                    <td>{{ rendezVous.codePS }}</td>
                    <td>{{ rendezVous.debutRV | date:'medium' }}</td>
                    <td>{{ rendezVous.finRV | date:'medium' }}</td>
                    <td>{{ rendezVous.createdAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rendez-vous', rendezVous.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rendez-vous', rendezVous.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rendezVous)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
