<div>
    <h2 id="page-heading">
        <span jhiTranslate="firstCaringApp.pS.home.title">PS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ps" [routerLink]="['/ps/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firstCaringApp.pS.home.createLabel">
            Create a new PS
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pS?.length === 0">
        <span jhiTranslate="firstCaringApp.pS.home.notFound">No pS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pS && pS.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePS"><span jhiTranslate="firstCaringApp.pS.codePS">Code PS</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profil"><span jhiTranslate="firstCaringApp.pS.profil">Profil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="firstCaringApp.pS.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="firstCaringApp.pS.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="urlPhoto"><span jhiTranslate="firstCaringApp.pS.urlPhoto">Url Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profession"><span jhiTranslate="firstCaringApp.pS.profession">Profession</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="experience"><span jhiTranslate="firstCaringApp.pS.experience">Experience</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomDeLetablissement"><span jhiTranslate="firstCaringApp.pS.nomDeLetablissement">Nom De Letablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephoneDeLetablissement"><span jhiTranslate="firstCaringApp.pS.telephoneDeLetablissement">Telephone De Letablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseDeLetablissement"><span jhiTranslate="firstCaringApp.pS.adresseDeLetablissement">Adresse De Letablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lienGoogleMapsDeLetablissement"><span jhiTranslate="firstCaringApp.pS.lienGoogleMapsDeLetablissement">Lien Google Maps De Letablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="firstCaringApp.pS.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let pS of pS ;trackBy: trackId">
                    <td><a [routerLink]="['/ps', pS.id, 'view']">{{ pS.id }}</a></td>
                    <td>{{ pS.codePS }}</td>
                    <td jhiTranslate="{{ 'firstCaringApp.Profil.' + pS.profil }}">{{ pS.profil }}</td>
                    <td>{{ pS.telephone }}</td>
                    <td>{{ pS.createdAt | date:'medium' }}</td>
                    <td>{{ pS.urlPhoto }}</td>
                    <td>{{ pS.profession }}</td>
                    <td>{{ pS.experience }}</td>
                    <td>{{ pS.nomDeLetablissement }}</td>
                    <td>{{ pS.telephoneDeLetablissement }}</td>
                    <td>{{ pS.adresseDeLetablissement }}</td>
                    <td>{{ pS.lienGoogleMapsDeLetablissement }}</td>
                    <td>
                        {{ pS.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ps', pS.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ps', pS.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pS)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
