<div>
    <h2 id="page-heading">
        <span jhiTranslate="firstCaringApp.rapportPharmacien.home.title">Rapport Pharmaciens</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rapport-pharmacien" [routerLink]="['/rapport-pharmacien/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firstCaringApp.rapportPharmacien.home.createLabel">
            Create a new Rapport Pharmacien
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rapportPharmaciens?.length === 0">
        <span jhiTranslate="firstCaringApp.rapportPharmacien.home.notFound">No rapportPharmaciens found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rapportPharmaciens && rapportPharmaciens.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePatient"><span jhiTranslate="firstCaringApp.rapportPharmacien.codePatient">Code Patient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePS"><span jhiTranslate="firstCaringApp.rapportPharmacien.codePS">Code PS</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facturation"><span jhiTranslate="firstCaringApp.rapportPharmacien.facturation">Facturation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="firstCaringApp.rapportPharmacien.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="firstCaringApp.rapportPharmacien.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rapportPharmacien of rapportPharmaciens ;trackBy: trackId">
                    <td><a [routerLink]="['/rapport-pharmacien', rapportPharmacien.id, 'view']">{{ rapportPharmacien.id }}</a></td>
                    <td>{{ rapportPharmacien.codePatient }}</td>
                    <td>{{ rapportPharmacien.codePS }}</td>
                    <td>{{ rapportPharmacien.facturation }}</td>
                    <td>{{ rapportPharmacien.description }}</td>
                    <td>{{ rapportPharmacien.createdAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rapport-pharmacien', rapportPharmacien.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rapport-pharmacien', rapportPharmacien.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rapportPharmacien)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="rapportPharmaciens && rapportPharmaciens.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
