<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-assure-heading" jhiTranslate="firstCaringApp.assure.home.createOrEditLabel">Create or edit a Assure</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.codeAssure" for="field_codeAssure">Code Assure</label>
                    <input type="text" class="form-control" name="codeAssure" id="field_codeAssure"
                           formControlName="codeAssure"/>
                    <div *ngIf="editForm.get('codeAssure')!.invalid && (editForm.get('codeAssure')!.dirty || editForm.get('codeAssure')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeAssure')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeAssure')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 4 }">
                        This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeAssure')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.profil" for="field_profil">Profil</label>
                    <select class="form-control" name="profil" formControlName="profil" id="field_profil">
                        <option value="ASSUREUR">{{ 'firstCaringApp.Profil.ASSUREUR' | translate }}</option>
                        <option value="ASSURE">{{ 'firstCaringApp.Profil.ASSURE' | translate }}</option>
                        <option value="PS">{{ 'firstCaringApp.Profil.PS' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('profil')!.invalid && (editForm.get('profil')!.dirty || editForm.get('profil')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('profil')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe">
                        <option value="MASCULIN">{{ 'firstCaringApp.Sexe.MASCULIN' | translate }}</option>
                        <option value="FEMININ">{{ 'firstCaringApp.Sexe.FEMININ' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 7 }">
                        This field is required to be at least 7 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.urlPhoto" for="field_urlPhoto">Url Photo</label>
                    <input type="text" class="form-control" name="urlPhoto" id="field_urlPhoto"
                           formControlName="urlPhoto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                    <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 4 }">
                        This field is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.assureur" for="field_assureur">Assureur</label>
                    <select class="form-control" id="field_assureur" name="assureur" formControlName="assureur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assureurOption.id === editForm.get('assureur')!.value?.id ? editForm.get('assureur')!.value : assureurOption" *ngFor="let assureurOption of assureurs; trackBy: trackById">{{ assureurOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstCaringApp.assure.pack" for="field_pack">Pack</label>
                    <select class="form-control" id="field_pack" name="pack" formControlName="pack">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="packOption.id === editForm.get('pack')!.value?.id ? editForm.get('pack')!.value : packOption" *ngFor="let packOption of packs; trackBy: trackById">{{ packOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
